<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutterhttpget">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
<application android:usesCleartextTraffic="true">
<manifest xmlns:tools="http://schemas.android.com/tools">
<manifest xmlns:tools="http://schemas.android.com/tools">

<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quadrimind.qlibadstest">

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.Manifest.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.Manifest.permission.READ_EXTERNAL_STORAGE" />

</manifest>